 <div  class="row">
  <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
<%= render 'books/list', user: @user,book: @booknew %>

<div class="col-xs-9">

<h1>Book detail</h1>

<table class="table table-hover table-inverse">



<tr>

	<th>
   　　　<%= link_to user_path(@book.user.id) do %>
        <%= attachment_image_tag @book.user,:profile_image, :fill, 50, 50, fallback: "no_image.jpg" %><br>
        <%=  @book.user.name %>
        <% end %> 
  </th>
	<th>
      <%= @book.title %>
  </th>
  <th>
      <%= @book.body %>
  </th>

    <% if @book.favorited_by?(current_user) %>
    <td>
        <%= link_to book_favorites_path(@book), method: :delete do %>
        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
        <%= @book.favorites.count %> いいね
        <% end %>
    </td>
    <% else %>
    <td>
        <%= link_to book_favorites_path(@book), method: :post do %>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <%= @book.favorites.count %> いいね
        <% end %>
    </td>
    <% end %>

    <td>
        <i class="fa fa-comment"></i>
        <a href="#comments"><%= @book.book_comments.count %></a>
    </td>

    <div class="comment-list bt style-2" id="comments">
    <div class="float-wrapper">
        <h2 class="comment-count"><%= @book.book_comments.count %>件コメント</h2>
    </div>



  <% if @user.id == current_user.id %>

    <th>
      <%= link_to"Edit", edit_book_path(@book.id), class:"btn-sm btn-success edit_book_29217" %>
    </th>
    <th>
      <%= link_to"Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn-sm btn-danger destroy_book_29217" %>
    </th>
  <% end %>
</tr>


</table>
<td>
  <div class="col-lg-8">
<% @book.book_comments.each do |book_comment| %>
<%= book_comment.comment %>

<div>
  <%= link_to "Destroy", "/books/#{book_comment.book.id}/book_comments/#{book_comment.id}", method: :delete, class: "btn btn-danger pull-right" %>
</div>

<% end %>
</div>
</td>

<%= form_for [@book, @book_comment] do |f| %>
<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
 <%= f.submit "送信する" ,class:"btn btn-lg btn-basa-1 mt-20 pull-right" %>
 <% end %>


